# npm
node_modules

# Firebase
.firebase
firebase*.log

# IDE
.vscode

# OS files
.DS_Store
Thumbs.db


# dist - generé par webpack
dist/


# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Environment files
.env

